.btn {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: #41a8a489;
  color: rgb(16, 1, 1);
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #9a0bd297;
  color: #060505;
}